**/.DS_Store

.vscode/**

# Algortimic Game Machine
## Ignore STM Core Library Files
**/**/*stm32f*

# Charger Unit
# charger-unit/documents/contactors/*
# charger-unit/documents/transducers/*
charger-unit/documents/*
charger-unit/schematic.dch
charger-unit/voltage-sensor.pdf

# Coin Slot Machine
## Ignore Generic Libraries
coin-slot-machine/libraries/*
!coin-slot-machine/libraries/readme.txt

# Lightning Circuit
lightning-circuit/resources/*
